@model AirTransport.Models.Flight

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Flight</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="IdAircraft" class="control-label"></label>
                <select asp-for="IdAircraft" class="form-control" asp-items="ViewBag.IdAircraft"></select>
                <span asp-validation-for="IdAircraft" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdOriginAirport" class="control-label"></label>
                <select asp-for="IdOriginAirport" class="form-control" asp-items="ViewBag.IdOriginAirport"></select>
                <span asp-validation-for="IdOriginAirport" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdDestinationAirport" class="control-label"></label>
                <select asp-for="IdDestinationAirport" class="form-control" asp-items="ViewBag.IdDestinationAirport"></select>
                <span asp-validation-for="IdDestinationAirport" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExitTime" class="control-label"></label>
                <input asp-for="ExitTime" class="form-control" />
                <span asp-validation-for="ExitTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstimatedArrivalTime" class="control-label"></label>
                <input asp-for="EstimatedArrivalTime" class="form-control" />
                <span asp-validation-for="EstimatedArrivalTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
